@import "variables.scss";

.main_announcement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    text-align: center;
    padding: 10px;
  }
  button {
    width: 150px;
    align-self: center;
  }
  .announcement {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 1024px) {
      gap: 30px;
    }
  }
}
